# Home Assistant
homeassistant/**/.cloud
homeassistant/**/.storage
homeassistant/**/blueprints
homeassistant/**/deps
homeassistant/**/tts
secrets.yaml

# Pi-hole - Unbound
**/etc-dnsmasq.d/*
!**/*pihole-custom-cname.conf
**/etc-pihole/*.*
!**/migration_backup
!adlists.list
!custom.list
setupVars.conf*
logrotate
**/etc-unbound/*

# Portainer
**/portainer/*

# Node-RED
**/nodered/data/*
!**/nodered/data/*flows.json*
!**/nodered/data/package*.json
!**/nodered/data/settings.json

# Global
.env
!.gitkeep
*.log*
*.db*
*.key*
node_modules/
lib/
.npm/