# Grafana
**/grafana/*

# Home Assistant
**/homeassistant/config/

# Influxdb
**/influxdb/*

# Mosquitto
**/mosquitto/*

# Node-RED
**/nodered/*

# Octoprint
**/octoprint/*
!**/octoprint/mjpg-streamer/

# Portainer
**/portainer/*

# Stremio
**/stremio/server/*

# Global
!**/docker-compose.*.yaml
.env
!.gitkeep
*.log*
*.db*
*.key*
node_modules/
lib/
.npm/
